#root > div > div > div > div.sc-krvtoX.jAVnwh > div.sc-fYiAbW.jQJwXo > div.sc-fOKMvo.fNjOiB{

    text-align: center;
     max-width: 1200px;

}
#root > div > div > div > div.sc-krvtoX.jAVnwh > div.sc-fYiAbW.jQJwXo > div.sc-fOKMvo.fNjOiB > div.doc-container > div > img{

    width: 587px;
    margin: 100px;
    margin-left: 278px;
    
}
#root > div > div > div > div.sc-krvtoX.jAVnwh > div.sc-fYiAbW.jQJwXo > div.sc-fOKMvo.fNjOiB > div > div{
    width:200px;
}
#root > div > div > div > div.sc-krvtoX.jAVnwh > div.sc-fYiAbW.jQJwXo > div.sc-fOKMvo.fNjOiB > div.doc-container > header{
   font-size: 80px;
}
#root > div > div > div > div.sc-krvtoX.jAVnwh > div.sc-fYiAbW.jQJwXo > div.sc-fOKMvo.fNjOiB > div.button-container{
    width:150px;
    margin-bottom:35px;
    margin-left:497px;
    background-color:orange
}
#root > div > div > div > div.sc-krvtoX.jAVnwh > div.sc-fYiAbW.jQJwXo > div.sc-fOKMvo.fNjOiB > input[type=button]{
    width: 150px;
    margin-left: 497px;
    background-color:orange
}