.App {
  max-width: 960px;
  margin: 0 auto;
}



/* Dropzone */
.Uploader {
 
  cursor: pointer;
   
}



#root > div > div.sc-fYiAbW.lbFfTk > div.sc-fOKMvo.cWpzSY > div.sc-dUjcNx.jaTPyW > div > input[type=file]{  padding: 30px;
  height: 30vh;
  width: 128vh;

  outline: none;
  cursor: pointer;

}
  
#root > div > div.sc-fYiAbW.lbFfTk > div.sc-fOKMvo.cWpzSY > div.sc-dUjcNx.jaTPyW > div > input[type=file]:hover { 
  background-color: #3B3B3B;
  border: 5px dashed #DD6B20;
  }
/* #root > div > div.sc-fYiAbW.lbFfTk > div.sc-fOKMvo.cWpzSY > div.sc-dUjcNx.jaTPyW > div > center > input[type=file]{
  display: none
} */


#root > div > div.sc-fYiAbW.lbFfTk > div.sc-fOKMvo.cWpzSY > div.sc-dUjcNx.jaTPyW > div > h1{  text-align: center;
  font-size: larger;
}
