#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-bsbRJL.dRrxiP > div.sc-cMhqgX.bzCyvT > div.sc-jTzLTM.gqQXXs > div.sc-fjdhpX.QJAZL{

width: 604px;
height: 493px;
left: 418px;
top: 96px;
}
#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-bsbRJL.dRrxiP > div.sc-cMhqgX.bzCyvT > div.sc-jTzLTM.gqQXXs > div.sc-fjdhpX.QJAZL > div > h1{

width: 490px;
height: 38px;
left: 474px;
top: 144px;

/* Heading 2 */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
/* identical to box height */


/* 600 Gray */

color: #232323;


}
#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-bsbRJL.dRrxiP > div.sc-cMhqgX.bzCyvT > div.sc-jTzLTM.gqQXXs > div.sc-fjdhpX.QJAZL > div > div > h1{
  

width: 492px;
height: 57px;
left: 474px;
top: 301px;
}
#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-bsbRJL.dRrxiP > div.sc-cMhqgX.bzCyvT > div.sc-jTzLTM.gqQXXs > div.sc-fjdhpX.QJAZL > div > div{

width: 492px;
height: 231px;
left: 474px;
top: 214px;

/* 400 Gray */

border: 1px dashed #817974;
box-sizing: border-box;
}
#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-bsbRJL.dRrxiP > div.sc-cMhqgX.bzCyvT > div.sc-jTzLTM.gqQXXs > div.sc-fjdhpX.QJAZL > div > div > button{


  width: 200px;
  height: 48px;
  left: 620px;
  top: 493px;
  margin-bottom: auto;
  
  /* 600 Orange */
  
  background: #DD6B20;
  border-radius: 3px;
}
#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-bsbRJL.dRrxiP > div.sc-cMhqgX.bzCyvT > div.sc-jTzLTM.gqQXXs > div.sc-fjdhpX.QJAZL{
width: 80%;
height: auto;
left: 0px;
top: 0px;




}
#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-bsbRJL.dRrxiP > div.sc-cMhqgX.bzCyvT > div.sc-jTzLTM.gqQXXs > div.sc-fjdhpX.QJAZL > div > div > div > input[type=file]{

    font-size: 100px;
  
    left: 0;
    top: 0;
    opacity: 0;
  
}