.App{
  max-width: 1200px;
}
.upload-btn-wrapper {

  overflow: hidden;

}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;

  left: 0;
  top: 0;
  opacity: 0;
}

#root > div > div > div > div.sc-fYiAbW.lbFfTk > div.sc-fOKMvo.hTslYO > div.sc-dUjcNx.kcgtTF > div{
  max-width: 700px;

}
#root > div > div > div > div.sc-fYiAbW.lbFfTk > div.sc-fOKMvo.hTslYO > div.sc-bAeIUo.jmnQXo > div.sc-GMQeP.khcyzT > div.sc-jTzLTM.gqQXXs > div.sc-fjdhpX.efXAWx{
  position: absoulte;
}
/* Dropzone */
.Uploader {

  position: absolute;
  width: 604px;

  /* white */
  
  background: #FFFFFF;
  border-radius: 3px;
   
}


#root > div > div > div > div.sc-daURTG.hxkjcn > div.sc-bXGyLb.iNsoYH > div.sc-lkqHmb.bEWeYB > div > button{
   background-attachment: fixed;
}
root > div > div > div > div.sc-daURTG.hxkjcn > div.sc-bXGyLb.iNsoYH > div.sc-lkqHmb.bEWeYB > div > input[type=file]{ 
  height: 30vh;
  width: 128vh;

  outline: none;
  cursor: pointer;

}
  
#root > div > div > div > div.sc-daURTG.hxkjcn > div.sc-bXGyLb.iNsoYH > div.sc-lkqHmb.bEWeYB > div > input[type=file]:hover { 
  background-color: #3B3B3B;
  border: 5px dashed #DD6B20;
  }
/* #root > div > div.sc-fYiAbW.lbFfTk > div.sc-fOKMvo.cWpzSY > div.sc-dUjcNx.jaTPyW > div > center > input[type=file]{
  display: none
} */


#root > div > div > div > div.sc-daURTG.hxkjcn > div.sc-bXGyLb.iNsoYH > div.sc-lkqHmb.bEWeYB{  text-align: center;
  font-size: larger;
}
