Table{

    width: 960px;
    height: 300px;

};
Theader{
background:#3b3b3b ;
}
.tbl-container{
    width: 1144px;
height: 1025px;
left: 296px;
top: 96px;

/* 000 White */

background: #FFFFFF;
}
tr{
    
position: relative;
width: 1080px;
height: 72px;
left: 32px;
top: 94px;
}
th{
    width: 1080px;
height: 35px;
left: 32px;
top: 59px;

/* 200 Gray */

background: #E9E9E9;
}
tbody:nth-child(odd) {
    background:lightgray !important ;
}