Table{

    width: 960px;
    height: 300px;

};
Theader{
background:#3b3b3b ;
}
thead {
    

width: 1080px;
height: 35px;
left: 32px;
top: 59px;

/* 200 Gray */

background: #E9E9E9;
}
.tbl-container{
    width: 1144px;
height: 1025px;
left: 296px;
top: 96px;

/* 000 White */

background: #FFFFFF;
}
tr{
    width: 1080px;
    height: 60px;
    left: 32px;
    right:32px;
    top: 166px;
   text-align:center;
    /* 000 White */
    
    background: #FFFFFF;
}
th{

    width: 39px;
    height: 19px;
    left: 64px;
    top: 67px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    /* 500 Gray */
    background:lightgray;
    color: #3B3B3B;
}
tbody:nth-child(odd) {
    background:lightgray !important ;
}
td { 
    width: 125px;
    height: 19px;
    left: 343px;
    top: 118px;
    
    /* Body */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    
    
    /* 500 Gray */
    
    color: #3B3B3B;
}
#root > div > div > div > div.sc-fYiAbW.lbFfTk > div.sc-fOKMvo.hTslYO > div.sc-dUjcNx.kcgtTF{
  
width: 1144px;
height: 1025px;
left: 296px;
top: 96px;

/* 000 White */

background: #FFFFFF;
}
tbody {

width: 1144px;
height: 1025px;
left: 296px;
top: 96px;

/* 000 White */

background: #FFFFFF;
}