#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-exAgwC.ephqqq > div.sc-cIShpX.kNPzwz > div.sc-kafWEX.exZsxS > div.sc-dfVpRl.drmjQc > div > div.table-responsive > table > thead > tr{
    display: none !important
}
#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-exAgwC.ephqqq > div.sc-cIShpX.kNPzwz > div.sc-kafWEX.exZsxS > div.sc-dfVpRl.drmjQc > div > div.table-responsive > table{
    width: 524px;
height: 288px;
left: 588px;
top: 357px;

/* 250 - Borders */

border: 1px solid #DCD9D5;
box-sizing: border-box;
border-radius: 3px;
}
#root > div > div > div > div.sc-iujRgT.ceqzZL > div.sc-GMQeP.flNFui > div.sc-exAgwC.ephqqq > div.sc-cIShpX.kNPzwz > div.sc-kafWEX.exZsxS > div.sc-dfVpRl.drmjQc > div > div.table-responsive > table > tbody:nth-child(3) > tr{
    width: 524px;
height: 72px;
left: 588px;
top: 357px;

/* 100 Gray */


}
.table td, .table th:nth-child(){
    background:  #F5F5F5 !important
}